html,body{
    margin: 0;
    padding: 0;
}
*, :after, :before {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

.btn .video .btn-left .btn-right .border-bottom .commentBox .comment
.contentText .border-bottom .textBox .text .gradient .commentText 
.btn-footer .btn-footer-right .footerBottom{
    zoom:1;
}
.btn .video .btn-left .btn-right .border-bottom .commentBox .comment
.contentText .border-bottom .textBox .text .gradient .commentText 
.btn-footer .btn-footer-right .footerBottom{
    content: "";
    clear: both;
    display: block;
}

img{
    max-width: 100%;
}

body{
    width: 50%;
    height: auto;
    margin: auto;
    font-size:16px;
    background-color: black;
    font-family: Merriwather;
}
.back-ground {
    width: 870px;
    height: 985px;
    margin:50px 0 50px 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}


a.close-icon {
    color:red;
    margin-top:-10px;
    margin-right:-10px;
    cursor:pointer;
    border: 1px solid #AEAEAE;
    border-radius: 20px;
    background: white;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    float: right;
    line-height: 0px;
    padding: 10px 5px;       
}

.close-icon:before {
    content: "×";
}
a.close-icon:hover{
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px; 
}

.video {
    padding:31px 31px 0 31px;
    border-radius: 5px; 
}
.btn{
    display: block;
    position:absolute;
    top:497px;
    
}
.btn ul{
    display: -webkit-inline-box;
    list-style: none;
}
.btn-left li{
    padding: 0 30px 10px 0;
    margin-left: -8px;
}
.btn-right{
    position: relative;
    float: right;
    top:-65px;
    left:660px;
}
.btn-right li{
    padding:0 9px 10px 0;
}

.border-bottom{
    position: relative;
    bottom:520px;
    margin: 0 31px 0 1px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 36px;
    width: 837px;
}
.commentBox{
    position: relative;
    width: 807px;
    margin: -8px 31px 0 30px;
}

.comment{
    font-family: ProximaNova Regular,Myriad Pro Regular;
    font-style: italic;
    color: #8e9197;
    font-size: 18pt;
    width: 807px;
    padding: 11.5px;
    display: inline-block;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    box-sizing: border-box;
}

.textBox{
    position: relative;
    bottom: 505px;
    padding:31px 31px 0 15px;
    border-radius: 5px; 
}

.text{
   position: relative;
   margin: -54px 0 0 67px;
   line-height: 0%;
}
.text h1{
    font-family: Merriwather,Myriad Pro Regular;
    font-size:18pt;
    font-weight: bold;
    color: 	#28b7d7;
    display: inline-block;
}
.text p{
    font-family: ProximaNova Regular,Myriad Pro Regular;
    font-size:10pt;
    letter-spacing: -1px;
    color:#b5b5b5;
    font-weight: 600;
}
.gradient{
    margin: 27px 0 0 1px;
}
.commentText{
    width: 790px;
    position:relative;
    bottom: 250px;
    margin:22px 0 0 30px;
}

.btn-footer{
    display: block;
    position:absolute;
    margin-left: 13px;
    bottom: -14px;
}

.btn-footer li{
    padding: 0 30px 10px 0;
    margin-left: -8px;
}

.btn-footer ul{
    display: -webkit-inline-box;
    list-style: none;
}
 .btn-footer-right {
    position: relative;
    left:480px;
 }

.footerBottom{
    position: relative;
    bottom:14px;
    margin-left: 7px;
    border-bottom: 1px solid #e6e6e6;
    width: 819px;
}